<div class="border-l pl-4">
    <div class="mb-8">
        <div class="text-sm font-semibold"><%= title %></div>
        <div class="text-sm font-semibold"><%= project_url %></div>
        <div class="text-sm font-semibold"><%= tech_stack %></div>
        <div class="whitespace-pre-line"><%= description %></div>
    </div>
</div>